.app_nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
  }

.nav_item a {
  color: white;
  text-decoration: none;
}

.nav_item a.active {
  color: gold;
}

.nav_item a:hover {
  color: red;
}
