.dialogs {
    display: grid;
    grid-template-columns: 1fr 10fr;

}

.dialogs-items {
    padding: 10px;
    color: rgb(0, 0, 0);
}


.dialog a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.dialog a:hover {
    color: red;
}

.dialog a.active {
    color: gold;
}

.messages {
    padding: 10px;
}

